* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

#topVar{
      height: 25px;
      width: 100%;
      background-color: #f0f0f0;
      display:flex;
      justify-content: space-between;
      padding: 0 10px;

}

nav {
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 100;
    }

.nav-links {
      display: flex;
      gap: 20px;
      
    
    }

.nav-links a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      transition: color 0.3s ease;
      
      
    }

.nav-links a:hover {
      color: #007bff;
    }

    @media (max-width: 768px) {
      .nav-links {
        display: none;
      }
    }

    /* this is card design  */
      .card {
      background-color: #fff;
      width: 300px;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      overflow: hidden;
      transition: transform 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card img {
      width: 100%;
      height: 80px;
      object-fit: cover;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-size: 1.5rem;
      margin: 0 0 10px;
      color: #333;
    }

    .card-text {
      font-size: 1rem;
      color: #666;
      margin-bottom: 15px;
    }

    .card-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .card-button:hover {
      background-color: #0056b3;
    }
    #search{
      width: 300px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #201313;
      padding: 5px;
      font-size: 16px;
      outline: none;
    }

    /* SearchResult box  */
      .SearchResult {
        color: red;
      }

      hr{
            margin: 10px 50px;
            border: 0;
            border-top: 1px solid #ccc;
      }