.navbar {
  background-color: #282525;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
}

.navbar a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.active {
  color: #00ffcc;
  border-bottom: 2px solid #00ffcc;
}

